*{
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
}


nav{
  /* width: 550px; */
  height: 80px;
  background-color: white;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.nav-logo{
  width: 130px;
  height: 100px;
  padding-left: 5px;
  padding-bottom: 5px;
}

/* .section-grid{ */
  /* display: block; */
  /* margin-left: auto; */
  /* margin-right: auto; */
  /* height: 432px; */
  /* padding-top: 40px; */

/* } */

section{
  padding: 24px;
}

.hero{
  display: flex;
  flex-direction: column;
}

.hero-grid{
  max-width: 600px; 
  align-self: center;
}

.hero-h1{
  margin-bottom: 16px;
}

.hero-p{
  margin-top: 0px;
}

.cards-list{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow: auto;
}

.card{
    width: 200px;
    font-size: 12px;
    flex:  0 0 auto;
    display: flex;
    flex-direction: column;
    position: relative;
}

.card-image {
    width: 100%;
    height:  100px;
    border-radius: 9px;
    margin-bottom: 9px ;
}

.card-title{
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-stats {
    display: flex;
    align-items: center;
}

.card-star {
    height: 14px;
}

.bold{
  font-weight: bold;
}

.card-badge{
  position: absolute;
  top: 6px ;
  left: 6px;
  background-color: white;
  padding: 5px 7px;
  border-radius: 2px;
  font-weight: bold;
}